:root {
  --red: #E53338;
  --blue: #1C9BE6;
  --yellow: #F9EA36;
  --green: #24D650;
  --orange: #FA9D33;
  --purple: #C564EF;
  --pink: #FF4FB1;
  --turquoise: #44D7B6;

  --gray: #6D7278;
  --dark: #272727;
  --black: black;
  --outline: #979797;

  --lightest-gray: #EEEEEE;
  --light-gray: #DDDDDD;

  --background: white;
  --inverse: #272727;
}
[data-theme="dark"] {
  --background: #272727;
  --inverse: white;

  --gray: white;
  --lightest-gray: white;
  --light-gray: white;
  --black: white;
}

html {
  font-family: Raleway, sans-serif;
  font-size: 20px;
}

body {
  background: var(--background);
}

html, header, body, h1, h2, h3, p, div {
  padding: 0;
  margin: 0;
}

select:focus {outline:0;}

button:focus {outline:0;}

input:focus {outline: var(--blue) dashed 0.1em;}

.quibbble {
  font-weight: bold;
  color: white;
}

.quibbble:hover {
  color: var(--purple);
}

.quibbble-banner {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #8733E4;
  padding: 12px 10px;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.justify-center {
  justify-content: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--inverse);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--background);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--blue);
  border: none;
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--blue);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  background-color: white;
}

.banner {
  color: white;
  background: var(--red);
  padding: 10px;
}

.disabled {
  opacity: 0.5;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.pointer {
  cursor: pointer;
}

/* CSS */

.advanced {
  background-color: transparent;
  outline: none;
  border: none;
  text-decoration: underline;
  padding: 0;
}

.title-txt {
  font-family: Coquette, serif;
  font-size: 3em;
  font-weight: 900;
  line-height: 0.8em;
}

.standard-txt {
  font-size: 1em;
}

.smallest-txt {
  font-size: 0.5em;
}

.small-txt {
  font-size: 0.6666em;
}

.lighter-txt {
  font-weight: lighter;
}

.bolder-txt {
  font-weight: bolder;
}

.boldest-txt {
  font-weight: 900;
}

.small-padding {
  padding: 10px;
}

.smallest-margin-top {
  margin-top: 5px;
}

.small-margin-top {
  margin-top: 10px;
}

.small-padding-top {
  padding-top: 10px;
}

.medium-padding-top {
  padding-top: 20px;
}

.medium-padding {
  padding: 20px;
}

.large-padding-top{
  padding-top: 40px;
}

.largest-padding-top {
  padding-top: 60px;
}

.smallest-padding-left {
  padding-left: 5px;
}

.small-padding-left {
  padding-left: 10px;
}

.smallest-padding-right {
  padding-right: 5px;
}

.small-padding-right {
  padding-right: 10px;
}

.medium-padding-right {
  padding-right: 20px;
}

.small-padding-bot {
  padding-bottom: 10px;
}

.medium-padding-bot {
  padding-bottom: 20px;
}

.large-padding-bot{
  padding-bottom: 40px;
}

.largest-padding-bot {
  padding-bottom: 60px;
}

.red {
  color: var(--red);
}

.yellow {
  color: var(--yellow)
}

.blue {
  color: var(--blue);
}

.green {
  color: var(--green);
}

.orange {
  color: var(--orange);
}

.purple {
  color: var(--purple);
}

.pink {
  color: var(--pink);
}

.turquoise {
  color: var(--turquoise);
}

.none {
  color: var(--dark);
}

.gray {
  color: var(--gray);
}

.black {
  color: var(--black);
}

.dark {
  color: var(--dark);
}

.inverse {
  color: var(--inverse);
}

.neutral-background {
  background: var(--background);
}

.blue-background {
  background: var(--blue);
}

.red-background {
  background: var(--red);
}

.yellow-background {
  background: var(--yellow);
}

.green-background {
  background: var(--green);
}

.orange-background {
  background: var(--orange);
}

.purple-background {
  background: var(--purple);
}

.pink-background {
  background: var(--pink);
}

.turquoise-background {
  background: var(--turquoise);
}

.black-background {
  background: black;
}

.dark-background {
  background: var(--dark);
}

.red-border {
  border: var(--red) solid 5px;
}

.yellow-border {
  border: var(--yellow) solid 5px;
}

.green-border {
  border: var(--green) solid 5px;
}

.blue-border {
  border: var(--blue) solid 5px;
}

.orange-border {
  border: var(--orange) solid 5px;
}

.purple-border {
  border: var(--purple) solid 5px;
}

.pink-border {
  border: var(--pink) solid 5px;
}

.turquoise-border {
  border: var(--turquoise) solid 5px;
}

.flexbox {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-center {
  align-items: center;
}

.flex-self-end {
  align-self: flex-end;
}

.flex-self-start {
  align-self: flex-start;
}

.absolute {
  position: absolute;
}

.bottom {
  bottom: 2em;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.three-quarter-width {
  width: 75%;
}

.half-width {
  width: 50%;
}

.game-width {
  width: 37%;
}

.quarter-width {
  width: 25%;
}

.exit {
  cursor: pointer;
  font-size: 20px;
  top: 2em;
  right: 2em;
  line-height: 1em;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  border: none;
  background: none;
}

.exit:before {
  content: '\00d7';
  font-size: 40px;
  color: var(--inverse);
  font-weight: 900;
  font-family: Arial, sans-serif;
}

.input {
  font-size: 1.5em;
  font-weight: 300;
  width: 85%;
  padding: 0.5em;
  color: var(--black);
  border: 1px solid var(--gray);
  background: var(--background);
}

.goBtn {
  cursor: pointer;
  font-size: 1em;
  font-weight: bolder;
  width: 15%;
  color: white;
  background: var(--blue);
  border: none;
}

.select {
  border: 1px solid var(--gray);
  color: var(--inverse);
  background: var(--background);
  height: 2em;
}

.space-between {
  justify-content: space-between;
}

.remove-hyperlink, .remove-hyperlink:link, .remove-hyperlink:visited, .remove-hyperlink:hover, .remove-hyperlink:active {
  text-decoration: none;
}

.gear {
  font-size: 20px;
  border: none;
  background: none;
  cursor: pointer;
}

.hand {
  position: relative;
  top: 4.4em;
  max-height: 25em;
}

/* COLOR CHANGE RADIO */
.team-btns {
  position: relative;
  top: 4.4em;
  max-height: 25em;
}

.team-btn {
  border-radius: 10em;
  width: 1.5em;
  height: 1.5em;
}

.hide-overflow {
  overflow: hidden;
}

.board {
  outline: black solid 6px;
  outline-offset: -6px;
  background-image: url("./resources/dragon.png");
  background-size: cover;
  background-color: var(--dark);
}

.empty {
  width: calc(10vw * 0.57);
  height: calc(10vw * 0.57);
  border: none;
  background: none;
  padding: 0;
  outline: var(--outline) solid 1px;
}

.tile {
  width: 100%;
  height: 100%;
}

.resetBtn {
  cursor: pointer;
  padding: 0.5em 2em;
  border: 1px solid var(--light-gray);
  background: var(--lightest-gray);
}

.glow {
  -webkit-animation: glowing 1500ms infinite;
  -moz-animation: glowing 1500ms infinite;
  -o-animation: glowing 1500ms infinite;
  animation: glowing 1500ms infinite;
}

@-webkit-keyframes glowing {
  0% { background-color: var(--red); color: white; opacity: 0.5; }
  50% { background-color: var(--red); color: white; opacity: 0.75; }
  100% { background-color: var(--red); color: white; opacity: 1; }
}

@-moz-keyframes glowing {
  0% { background-color: var(--red); color: white; opacity: 0.5; }
  50% { background-color: var(--red); color: white; opacity: 0.75; }
  100% { background-color: var(--red); color: white; opacity: 1; }
}

@-o-keyframes glowing {
  0% { background-color: var(--red); color: white; opacity: 0.5; }
  50% { background-color: var(--red); color: white; opacity: 0.75; }
  100% { background-color: var(--red); color: white; opacity: 1; }
}

@keyframes glowing {
  0% { background-color: var(--red); color: white; opacity: 0.5; }
  50% { background-color: var(--red); color: white; opacity: 0.75; }
  100% { background-color: var(--red); color: white; opacity: 1; }
}

/* BREAKPOINTS */
@media(max-width: 1000px){
  .title-txt {
    font-size: 2em;
    font-weight: 900;
  }
  .smallest-txt {
    font-size: 0.3333em;
  }
  .small-txt {
    font-size: 0.5em;
  }
  .standard-txt {
    font-size: 0.6666em;
  }
}

@media(max-width: 1024px){
  .game-width {
    width: 50%;
  }
  .empty {
    width: calc(10vw * 0.75);
    height: calc(10vw * 0.75);
  }
}

@media(max-width: 500px){
  .game-width {
    width: 70%;
  }
  .empty {
    width: calc(10vw * 1);
    height: calc(10vw * 1);
  }
}

@media(max-height: 700px) and (min-width: 400px) {
  .dev {
    display: none;
  }
}

@media(max-width: 425px) {
  .half-width {
    width: 80%;
  }
  .lighter-txt {
    font-weight: normal;
  }
  .smallest-padding-right {
    padding-right: 1px;
  }
  .small-padding-right {
    padding-right: 2px;
  }
  .exit {
    right: 1em;
  }
  .goBtn {
    width: 30%;
  }
  html {
    max-width: 100%;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
  }
}